@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700&subset=cyrillic-ext');

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  font-family: 'Comfortaa', cursive;
  font-size: 16px;
  color: #410202
}

ul {
  list-style-type: none;
}

.wrapper {
  width: 960px;
  margin: 10px auto;
  overflow: hidden;
}

.wrapper > div {
  float: left;
}

.coffee {background-color: #410202;}
.water {background-color: #5cc0fe;}
.milk {background-color: #ffffff;}
.foam {background-color: #eafeff;}
.cream {background-color: #fcfbdd;}
span {
  color: red;
}
button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  height: 50px;
  border: none;
  background: #333;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 700;
  outline: none;
  cursor: pointer;
}